| Feature         | `concat()`                              | `merge()` (SQL-style)                                             | `join()` (index-based)                                      |
| --------------- | --------------------------------------- | ----------------------------------------------------------------- | ----------------------------------------------------------- |
| **Join Key**    | ❌ No (simply appends)                   | ✅ One or more columns (`on='ID'`)                                 | ✅ Uses index by default (`on='index'`)                      |
| **Use Case**    | Stack/append rows or columns            | Combine DataFrames using common columns                           | Combine DataFrames using their indexes                      |
| **Inner Join**  | N/A                                     | `pd.merge(df1, df2, how='inner', on='ID')` <br> Only matching IDs | `df1.join(df2, how='inner')` <br> Only matching indexes     |
| **Left Join**   | N/A                                     | `pd.merge(df1, df2, how='left', on='ID')` <br> All from left DF   | `df1.join(df2, how='left')` <br> All from `df1`             |
| **Right Join**  | N/A                                     | `pd.merge(df1, df2, how='right', on='ID')` <br> All from right DF | `df1.join(df2, how='right')` <br> All from `df2`            |
| **Outer Join**  | N/A                                     | `pd.merge(df1, df2, how='outer', on='ID')` <br> All from both     | `df1.join(df2, how='outer')` <br> All indexes from both     |
| **Axis Option** | `axis=0` (rows) <br> `axis=1` (columns) | N/A                                                               | N/A                                                         |
| **Example**     | `pd.concat([df1, df2], axis=0)`         | `pd.merge(df1, df2, on='ID', how='outer')`                        | `df1.set_index('ID').join(df2.set_index('ID'), how='left')` |

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
            padding-top: 0px;
        }
    </style>
</head>
<body>
    <p><strong>concatenating</strong></p>
</body>
</html>

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}
dict2 = {
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}
dict3 = {
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'D': ['D8', 'D9', 'D10', 'D11']
}

df1 = pd.DataFrame(dict1, index=[0, 1, 2, 3])
print(df1)
df2 = pd.DataFrame(dict2, index=[4, 5, 6, 7])
print(df2)
df3 = pd.DataFrame(dict3, index=[8, 9, 10, 11])
print(df3)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
        }
    </style>
</head>
<body>
    <p><strong>concatenating row wise</strong></p>
</body>
</html>

In [3]:
df_concat = pd.concat([df1, df2, df3], axis=0)
df_concat

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p {
            font-size: 22px;
            color: #00FF00;
        }
    </style>
</head>
<body>
    <p><strong>concatenating column wise</strong></p>
</body>
</html>

In [4]:
df_concat = pd.concat([df1, df2, df3], axis=1)
df_concat

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11